<head>
  <style>
    body { 
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }

    #sidebar {
      position: fixed;
      padding: 10px;
      top: 0;
      left: 0;
      bottom: 0;
      width: 200px;
      background-color: #333;
      color: #eee;
    }

  </style>
  <script src="//unpkg.com/force-graph"></script>
</head>

<body>
  <div id="graph">
  </div>
  <div id="sidebar">
    <h3>Settings</h3>
    <input type="checkbox" id="useNextLinks" checked>
    <label for="useNextLinks">Put clips created at a similar time next to each other</label>
  </div>    
  <div id="data" style="display: none;">
    __data__
  </div>
  <script>


    const data = JSON.parse(document.getElementById('data').innerText);

    const graph = new ForceGraph()
      (document.getElementById('graph'))
      .backgroundColor('#111')
      .linkAutoColorBy('kind')
      .nodeAutoColorBy('rootId')
      .linkLabel('kind')
      .linkVisibility(l => !['descendant', 'next'].includes(l.kind))
      .linkLineDash(l => l.isMain ? undefined : [1, 2])
      .linkDirectionalParticles(1)
      .graphData(data);

    const useNextLinksCheckbox = document.getElementById('useNextLinks');
    useNextLinksCheckbox.addEventListener('change', () => {
      const useNextLinks = useNextLinksCheckbox.checked;
      let { nodes, links } = graph.graphData();
      if ( !useNextLinks ) {
        links = links.filter(l => l.kind !== 'next');
      };
      graph.graphData({ nodes, links });
    });


  </script>
</body>