<head>
  <style>
    body { margin: 0; }
  </style>
  <script src="//unpkg.com/force-graph"></script>
</head>

<body>
  <div id="graph"></div>
  <div id="data" style="display: none;">
    __data__
  </div>
  <script>
    const data = JSON.parse(document.getElementById('data').innerText);

    const graph = new ForceGraph()
      (document.getElementById('graph'))
      .linkAutoColorBy('kind')
      .nodeAutoColorBy('rootId')
      .linkLabel('kind')
      .linkVisibility(l => !['descendant', 'next'].includes(l.kind))
      .linkDirectionalParticles(1)
      .graphData(data);

  </script>
</body>